<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>



    <div class="d-flex flex-column">

        <div class="d-flex flex-row justify-content-around p-3">

            <div>
                <img src='../static/Rivoli.png'>
                <div class="row justify-content-center h-100">Santiago Cuozzo</div>
            </div>

            <div>
                <ul>
                    <h3><li>Nombre: {{camion.0}}</li></h3>
                    <h3><li>Modelo: {{camion.1}}</li></h3>
                    <h3><li>Patente: {{camion.2}}</li></h3>
                    <h3><li>Total: 1250 KG</li></h3>
                </ul>
            </div>
            
        </div>
       
        <div>
            <hr style="border-color:red;">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Nº Big-Bag</th>
                    <th scope="col">Peso</th>
                </tr>
                </thead>
                <tbody>

                    {% for sum in bigtemp %}
                        <tr>
                            <td>{{sum.6}}</td>
                            <td>{{sum.7}}</td>   
                    {% endfor %}
                        </tr>
                    
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>